# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\springcloud\myPlaywright\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
